nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  background-color: red; }

div {
  height: 200px;
  widows: 200px;
  background-color: red;
  margin: 10px auto; }
